body {
    font-family: Arial;
}

h1 {
    text-align: left;
}

ul {
    font-family: Arial;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: Arial;
}

/**
.list e #msg vinheram do html, assim é possivel 
selecionar o elemento que estaremos estilizando
**/

.light-theme {
    color: #000000;
    background: #ffffff;
    text-align: left;
}

.dark-theme {
    color: #4bc54b;
    background: #3d3d3f;
}

:root {
    --green: #4bc54b;
    --black: #000000;
    --white: #ffffff;
    --darkColor: #3d3d3f;
}

/**  Seletor root representa  elemento <html> na página HTML**/

* {
    color: var(--fontColor);
    font-family: Arial;
}

body {
    background: var(--bg);
}

/**Substituindo o seletor de body atual e adicionando a nova criada
a baixo.**/

.light-theme {
    --bg: var(--white);
    --fontColor: var(--green);
    --btnBg: var(--darkColor);
    --bntFontColor: var(--white);

}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--green);
    --btnFontColor: var(--darkColor);
}

/** Criando tema escuro e tema claro
bg define a cor de fundo e fontColor define a cor da fonte**/
.btn-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {outline-style: none;}
