body {
    font-family: monospace;
}

h1 {
    text-align: center;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}

/**
.list e #msg vinheram do html, assim é possivel 
selecionar o elemento que estaremos estilizando
**/

.light-theme {
    color: #000000;
    background: #00ff00;
    text-align: left;
}

.dark-theme {
    color: #00ff00;
    background: #000000;
}

:root {
    --green: #00ff00;
    --Green2: #72ca76;
    --black: #000000ad;
}

/**  Seletor root representa  elemento <html> na página HTML**/

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

/**Substituindo o seletor de body atual e adicionando a nova criada
a baixo.**/

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--Green2);
    --bntFontColor: var(--white);

}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--green);
    --btnFontColor: var(--black);
}

/** Criando tema escuro e tema claro
bg define a cor de fundo e fontColor define a cor da fonte**/
.btn-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {outline-style: none;}
